body{
    padding-top: 200px;
}

.calc-container {
    border: solid grey 3px;
    border-bottom: solid grey 7px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin: auto;
    width: 300px;    
    box-shadow: 10px 5px 5px black;
}

.display {
    border: solid gray 5px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    margin: 3px;
    background-color: antiquewhite;
    height: 50px;
    flex: 1;
    display:flex;
    align-items: center;
}

.display-value {
    margin: 10px;
}

.row {
    display:flex;
    justify-content: center;
}

.column {
    flex: 1;
    display:flex;
}

.column.btn-equal button {
    background-color: red;
    color: aliceblue;
    font-size: 24px;
}

.column.btn-equal button:hover {
    background-color: #971616;
}

.btn-operator {
    background-color: azure;
}

.btn-operator:hover {
    background-color: rgb(168, 235, 235);
}

button {
    margin: 4px;
    flex: 1;
    height: 50px;
}
