h1 {
    text-align: center;
    padding-top: 150px;
}

.main-container {
    display:flex;
    justify-content: center;
}

.calc-container {
    border: solid grey 3px;
    border-bottom: solid grey 7px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 300px;    
    box-shadow: 10px 5px 5px black;
}

.history-container {
    margin-left: 50px;
    width: 300px;
    border: solid grey 3px;
    background-color: antiquewhite;
    overflow: auto;  
}

.display {
    border: solid gray 5px;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    margin: 3px;
    background-color: antiquewhite;
    height: 75px;
    flex: 1;
    display:flex;
    align-items: center;
    overflow-x:auto;
}

.display-value {
    margin: 10px;
}

.row {
    display:flex;
    justify-content: center;
}

.column {
    flex: 1;
    display:flex;
}

.column.btn-equal button {
    background-color: red;
    color: aliceblue;
    font-size: 24px;
}

.column.btn-equal button:hover {
    background-color: #971616;
}

.btn-operator {
    background-color: hsl(180, 75%, 70%);
}

.btn-operator:hover {
    background-color: rgb(132, 196, 196);
}

button {
    margin: 4px;
    flex: 1;
    height: 50px;
    font-weight: bold;
}
