body{
    padding-top: 200px;
}

.calc-container {
    height: 300px;
    border: solid whitesmoke 5px;
    margin: auto;
    width: 300px;    
    box-shadow: 10px 5px 5px black;
}

.display {
    border: solid gray 5px;
    height: 50px;
    flex: 1;
    display:flex;
    align-items: center;

}

.row {
    display:flex;
    justify-content: center;
}

.column {
    flex: 1;
    display:flex;
}

button {
    margin: 4px;
    flex: 1;
    height: 50px;
}
